@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* MOBILE MEDIA QUERY  */

@media (max-width: 768px) {
  body {
    background-color: teal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: serif;
    text-align: center;
    color: #fff;
  }
}

/* DESTOP MEDIA  */

@media (min-width: 768px) {
  body {
    background-color: #f7f7f9;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .h1 {
    font-size: 1.2rem;
    font-weight: 800;
    font-family: serif;
    text-align: start;
    color: #000;
  }

  .header {
    width: 100%;
    height: auto;
  }

  .navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 99.2%;
    margin-left: 2rem;
  }

  .logo-wrapper {
    background: white;
    text-align: center;
    margin-left: 5rem;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    width: 25%;
    height: auto;
  }

  .logo {
    display: block;
    font-family: "Poppin", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    height: auto;
    text-decoration: none;
  }

  .logo:hover {
    color: red;
    background-color: #000;
    border-radius: 50%;
    padding: 10px;
  }

  .update-p {
    color: #000;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
  }

  .update-p:hover {
    color: #fff;
    background-color: teal;
    border-radius: 8px;
    text-decoration: underline;
  }

  .movie-update,
  .seasons,
  .episodes,
  .shows {
    text-decoration: none;
    margin-top: 1.5rem;
  }

  /* Add your CSS styles here */
  .movie-item {
    margin: 30px;
  }

  img {
    max-width: 220px;
  }

  .fa-heart {
    width: auto;
    height: 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .comment-button {
    width: 38%;
    margin-top: 1rem;
  }

  .main-container,
  .section-wrapper,
  .contents {
    width: 100%;
    height: auto;
  }

  .item-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 4rem;
  }

  .title-like {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 4rem;
    border: 0.3rem solid #000;
    position: fixed;
    bottom: 0;
    width: 99.2%;
  }

  .p-footer {
    text-align: center;
    font-size: 1.5rem;
  }

  .p-footer a {
    color: #6070ff;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
    /* transition: opacity 0.3s;
    opacity: 0; */
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    /* max-width: 80%;
    overflow: auto;
    max-height: 80%; */
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }

  .popup-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  
}
